<!DOCTYPE html>
<html lang="en">
<head>
	<include href="blocks/head.html" />
</head>
<body class="dashboard dashboard-taskboard">
<div class="container-fluid">
	<include href="blocks/navbar.html" />

	<!-- Orphaned issues -->
	<div class="row">
		<div class="col-lg-9 col-lg-offset-3">
			<div class="row">
				<repeat group="{{ @statuses }}" key="{{ @k }}" value="{{ @status }}">
					<div class="col-md-3">
						<h6><b>{{ @status.name }}</b></h6>
						<repeat group="{{ @orphans[@status.id] }}" value="{{ @issue }}">
							<div class="issue">
								TASK #{{ @issue.id }}: {{ @issue.name }}
							</div>
						</repeat>
					</div>
				</repeat>
			</div>
		</div>
	</div>

	<!-- Projects -->
	<repeat group="{{ @projects }}" value="{{ @p }}">
		<div class="row">
			<div class="col-lg-3">
				PROJECT #{{ @p.project.id }}: {{ @p.project.name }}
			</div>
			<div class="col-lg-9">
				<div class="row">
					<repeat group="{{ @statuses }}" key="{{ @k }}" value="{{ @status }}">
						<div class="col-md-3">
							<h6><b>{{ @status.name }}</b></h6>
							<repeat group="{{ @projects[@p.project.id][@status.id] }}" value="{{ @issue }}">
								TASK #{{ @issue.id }}: {{ @issue.name }}
							</repeat>
						</div>
					</repeat>
				</div>
			</div>
		</div>
	</repeat>

	<include href="blocks/footer.html" />
</div>
</body>
</html>
